body {
    background: #fff;
}
.album-container {
    background: #fff;
    margin: 0 auto;
    padding: 0;
    -border: 1px solid red;
    width: 100%;
    font-family: 'Trebuchet MS';
    position: relative;
}
.album-container__header, .album-container__text {
    text-align: center;
}
.album-container__header h1 {
    color: #2e3a4f;
}
.album-container__text {
    color: #909090;
}
.album-container__gallery {
    margin: 80px auto;
    max-width: 1140px;
    border: 1px solid green;
    -position: relative;
}
.album-container__gallery_photo-block {
    display: inline-block;
    width: 362px;
    height: 262px;
}
.album-container__gallery_mask {
    display: inline-block;
    position: relative;
    width: 360px;
    height: 262px;
    -border: 1px solid red;
    bottom: 265px;
    -right: 365px;
    -background: black;
    background: rgba(58, 173, 244, 0);
    /*rgba(58, 173, 244, 0.5);*/
}
.album-container__gallery_mask:hover {
    background: rgba(58, 173, 244, 0.7);
    transition: .4s;
}
.album-container__gallery_mask_button-container {
    width: 100px;
    -border: 1px solid green;
    display: inline-block;
    position: relative;
    top: 100px;
    left: 120px;
}
.album-container__gallery_mask_button-container-button {
    position: relative;
    display: inline-block;
    opacity: 0;
    padding: 0 0 0 5px;
}
.album-container__gallery_mask_button-container-button:hover {
    transition: .4s;
    opacity: 1;
}

.album-container__gallery_mask:hover .album-container__gallery_mask_button-container-button {
    transition: .4s;
    opacity: 1;
}