
.search-block {
    width: 52%;
    min-width: 400px;
    max-width: 1024px;
    height: 52px;
    -border: 1px solid red;
    background: #FFCD5D;
    position: relative;
    margin: 0px auto;
    padding: 0px;
    background-image:
    -webkit-linear-gradient(145deg, rgba(255,255,255,1) 5%, rgba(255,205,93,0) 0%,
    rgba(255,205,93,0) 0%,
    rgba(255,205,93,0) 0%),
    -webkit-linear-gradient(580deg, rgba(255,255,255,1) 5%, rgba(255,205,93,0) 0%,
    rgba(255,205,93,0) 0%,
    rgba(255,205,93,1) 0%);

}
.search-block__search-field {
    width: 95%;
}
.search-block__search-field_frame {
    width: 80%;
    height: 25px;
    margin: 5px 0 0 5px;
}
.search-block__search-field_button {
    width: 15%;
    height: 25px;
    min-width: 40px;
    margin: 5px 0 0 5px;
}
.search-block__search-field_text {
    -border: 1px solid black;
    width: 18%;
    min-width: 40px;
    max-width: 70px;
    font-size: 14px;
    margin: 0 0 0 5px;
    display: inline-block;
}
.search-block__search-field_link {
    height: 15px;
    width: 14%;
    min-width: 35px;
    max-width: 55px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted #000;
    display: inline-block;
    position: absolute;
    margin: 2px 0 0 0;
}




