.navbar {  /* параметри для блоку ДИВ */
    text-align: justify;
    background: #fff;
    color: #fff;
    margin: 0px;
    padding: 0px;
}
.topnav {     /* параметри для ЮЛ */
    margin: auto;
    padding: 0px;
    text-transform: uppercase;
    background: #1AA4FF;
    color: #fff;
    list-style-type: none;
    width: 900px;
}
.topnav a {
    text-decoration: none;
    color: #fff;
}
.subnav {
    margin: auto;
    position: absolute;
    text-align: justify;
    padding: 0px;
}
.subnav ul {
    position: relative;
    margin: 4px 0 0 -8px;
    padding: 0px;
    display: none;
    background: #EEEEEE;
    width: 900px;

}
.topnav  li{
    list-style-type: none;
    display: inline-block;
    color: white;
    padding: 4px 8px;
    font-family: impact;
    font-size: 16px;

    line-height: 32px;

    clear: none;
    box-sizing: border-box;
}

.subnavigation{

}
.subnavigation a {
    color: #9FAABC;
    text-decoration: none;
}

.subnavigation li {
    background-color: #EEEEEE;
    list-style: none;
    display: inline-block;
    color: #9FAABC;
    padding: 4px 8px;
    font-weight: bold;
    position: relative;
    line-height: 32px;
    float: left;
    clear: none;
    box-sizing: border-box;

}

.topnav li:hover {
    background-color: #1AA4FF   ;
}

.topnav li:hover .subnavigation  {
    display: inline-block;
    background-color: #1AA4FF;
}

.nav ul li:hover {
    background-color: black;
}

.nav ul li {
    width: 100%;
}

.nav li ul {
    display: inline-block;
    clear: none;
    position: absolute;
    background-color: red;
    margin: 4px 0 0 -8px;
    padding: 0;
}
