.main {
    height: 490px;
    width: 300px;
    border: 1px none;
    background: #EE8129;
    box-shadow: 0 0 30px #CBE2EF;
    text-align: left;
    padding: 30px 0px 0px 80px;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    font-family: Trebuchet MS;
    font-size: 25px;
    position: relative;
    border-radius: 5px;
    margin: auto;
}
.iconic {
    position: absolute;
    height: 405px;
    width: 290px;
    border: 1px none ;
    background: #fff;
    top: 80px;
    right: 5px;
    color: #35495A;
    box-sizing: border-box;
    padding: 18px 0px 0px 44px; /* ??? */
}
.number25 {
    position: absolute; /* ???? */
    box-sizing: border-box;
    font-size: 60px;
    font-weight: bold;
    top: 0px;
    left: 72px;

}
.number25:before {
    content:"$";
    font-size: 18px;
    position: relative;
    right: 1px;
    top: -30px;
    text-transform: none;
    font-weight: normal;
}
.number25:after {
    content:"Monthly";
    position: relative;
    font-size: 17px;
    top: 5px;
    text-transform: none;
    font-weight: normal;
}
.skills {

    height: 80px;
    width: 266px;
    position: relative; /* not sure */
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    top: 110px;
    right: 31px;
    display: inline-block;
    box-sizing: border-box;
}

.skills ul {
    margin: 0;
    padding: 0;

}

.skills li {
    list-style: none;
    border: 1px solid #fff;
    padding: 10px;
    background: #DBEBF4;
    padding-left: 55px;
    box-sizing: border-box;
}
.upper::before, .upper1::before  {
    content: url(http://s1.sendimage.me/cOFstoiy.png);
    position: absolute;
    left: 30px;
}
.upper1 {
    text-transform: none;
}

ul li:nth-child(2n) {
    background: #F5F5F6;
}
.button {
    position: relative;
    margin: auto;
    border: 0;
    padding: 0;
    background: #EE8129;
    top: 135px;
    right: 25px;
    height: 45px;
    width: 254px;
    border-radius: 5px;
    box-shadow: 0 4px 1px #B3560B;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}