.navbar {  /* параметри для блоку ДИВ */
    text-align: justify;
    background: #fff;
    color: #fff;
    margin: 0px;
    padding: 0px;
}
.topnav {     /* параметри для ЮЛ */
    margin: auto;
    padding: 0px;
    text-transform: uppercase;
    background: #1AA4FF;
    list-style-type: none;
    width: 900px;
}
.topnav  li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 5px 5px 5px;
    font-family: impact;
    font-size: 15px;
    line-height: 30px;
    clear: none;
    box-sizing: border-box;
    margin-left: 20px;
}
.topnav a {
    text-decoration: none;
    color: #fff;
    display: inline; /* inline or inline-block??? */
    box-sizing: border-box;
}
.subnav { /* параметри для блоку ДИВ */
    margin: auto;
    position: absolute;
    text-align: justify;
    padding: 0px;
}
.subnavigation { /* параметри для ЮЛ */
    position: relative;
    margin: 4px 0px 0px -491px;
    padding: 0px;
    display: none;
    background: #EEEEEE;
    width: 900px;
}
.subnavigation li {
    background-color: #EEEEEE;
    list-style: none;
    display: inline-block;
    color: #9FAABC;
    padding: 4px 8px;
    position: relative;
    clear: none;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 32px;
    font-family: impact;
}
.subnavigation a {
    color: #9FAABC;
    text-decoration: none;

}
.topnav li:hover, .topnav a:hover {
    background-color: #EEEEEE;
    color: #9FAABC;

}
.topnav li:hover .subnavigation  {
    display: inline-block;
    color: #9FAABC;
}




