.menu {
    text-align: justify;
    background: #fff;
    color: #fff;
    margin: 0px;
    padding: 0px;

}
.menu-container {
    text-transform: uppercase;
    background: #bb74ff;
    color: #fff;
    width: 900px;
    font-family: impact;
    margin: 200 auto;
    padding: 0px;
    box-shadow: 0px 1px 10px #EEEEEE, 0px -1px 10px #EEEEEE;
    text-align: justify;
}
.menu-container li {
    font-size: 16px;
    display: inline-block;
    padding: 10px;
    list-style-type: none;
    margin-left: 50px;
}
.menu-container a {
    text-decoration: none;
    color: #fff;
    margin-right: -40px;
}
.menu-container li a:hover {
    background-color: #EEEEEE;
    color: #9FA0B5;
    padding: 10px;
}

/* âîïðîñû:
èç-çà íåõâàòêè âðåìåíè íå óñïåë íîðìàëüíî ðàçîáðàòü
- êàê ñäåëàòü îòñòóï íîðìàëüíûé ñ ëåâîé ñòîðîíû Home, íå äóìàþ ÷òî ìîé âàðèàíò âåðíûé
- êàê ñäåëàòü box-shadow òîëüêî ñâåðõó è íèçó è óáðàòü ïî áîêàì
- ðåçóëüòàòîì ðîáîòû íàä çàäàíèåì íå î÷åíü äîâîëåí, ìîãó ñäåëàòü ëó÷øå :(
*/
