.container {
    width: 420px; 
    margin: auto;
    border: none; /* delete color and solid */ 
}
.pager-board {
  display: block;
  height: 40px;
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
  background: #FAFAFA;
}
.page-number {
    text-decoration: none; 
    border: 1px solid #DDDDDD;
    display: inline-block;
    width: 22px;
    height: 22px;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    font-family: Trebuchet MS;
    float: left;
    margin: 8px 0px 0px 8px;
    padding: 4px 0px 0px 0px;
}
.first, .prev {
   display: inline-block;
   border: none; /* delete */
   color: #A13BCF;
   box-sizing: border-box;
   margin: 12px 0px 0px 4px;
   padding: 0px;
   float: left;
   text-decoration: none;
}
.page-active {
   display: inline-block;
   border: none; /* delete */
   color: #A13BCF;
   box-sizing: border-box;
   padding-top: 11px;
   float: left;
   margin: 8px 0px 0px 6px;
   padding: 10px 0px 0px 0px;
   width: 22px;
   height: 22px;
   border-radius: 5px;
   text-align: center;
   text-decoration: none;
}
.next, .last {
   display: inline-block;
   border: none; /* delete */
   color: #A13BCF;
   box-sizing: border-box;
   margin: 12px 4px 0px 0px;
   padding: 0px;
   float: right;
   text-decoration: none;
}
.first:before, .prev:before {
    content: "<<";
    font-family: Trebuchet MS;
    margin-right: 4px;
}
.next:after, .last:after {
    content: ">>";
    font-family: Trebuchet MS;
    margin-left: 4px;
}
.page-number:hover {
    color: #fff; 
    background: #A13BCF;
}
.first:hover, .prev:hover, .next:hover, .last:hover {
   color: #fff;
   background: none;
}
.page-active:hover {
    color: #fff;
    background: none;
}
