.footer-container {
    width: 100%;
    min-width: 1024px;
    max-height: 105px;
    height: 105px;
    background: #3070a8;
    -border: 1px solid red;
    font-family: 'Open Sans';
    margin: 5px auto;
    text-align: center;
    color: #fff;
    padding: 6px 0 0 0;
    box-sizing: border-box;
}
.footer-container_company-name, .footer-container_design-studio-name {
    font-weight: bold;
}
.footer-container_design-studio-name {
    color: #000;
    text-decoration: none;
}
