/* Âŕřŕ çŕäŕ÷ŕ íŕďčńŕňü ňŕęîé css ôŕéë, ęîňîđűé ńäĺëŕĺň:

— öâĺň âíĺříčő ńńűëîę #f70;
— ńńűëęč íŕ ńĺđâčńű google äîëćíű áűňü öâĺňŕ \#666
— ńńűëęŕ â íîâîě îęíĺ äîëćíŕ ďîńëĺ ńĺá˙ ńîäĺđćŕňü utf ńčěâîë ? (áĺç ďîä÷ĺđęčâŕíč˙)
Ďîëó÷čňń˙ âíĺříčé âčä ęŕę íŕ ęŕđňčíęĺ task4.png */

/* Question: how to optimize it better to use less code? */

a[href^="http://ya.ru"]:not([href*="http://google.com"]),
a[href^="https://mail.ya.ru"]:not([href*="http://maps.google.com"]),
a[href^="http://maps.yandex.ru"]:not([href*="http://news.google.com"]) {
    color: #f70;
}
a[href^="http://maps.yandex.ru"]:not([href*="http://news.google.com"]):after { /* my chrome doesn't read the symbol */
    color: #f70;
    content:'\21F1';
    margin-left: 5px;
    position: absolute;
    color: orange;
    -webkit-transform: rotate(-360deg);
}
a[href^="http://google.com"]:not([href*="http://ya.ru"]),
a[href^="http://maps.google.com"]:not([href*="https://mail.ya.ru"]),
a[href^="http://news.google.com"]:not([href*="http://maps.yandex.ru"]) {
    color: #666;
}




