.sivtsev {
    margin: 0 auto;
    padding: 0;
    width: 400px;
    height: 900px;
    abackground: aliceblue;
    text-align: justify;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 3px #555;
    font-family: 'Open Sans';
    line-height: 40px;
}
.sight01 {
    font-size: 81px;
    word-spacing: 230px;
   aline-height: 40px;
}
.sight02 {
    font-size: 59px;
    word-spacing: 105px;
    aline-height: 40px;
}
.sight03 {
    font-size: 56px;
    word-spacing: 53px;
    aline-height: 40px;
}
.sight04 {
    font-size: 50px;
    word-spacing: 40px;
    aline-height: 40px;
}
.sight05 {
    font-size: 44px;
    word-spacing: 44px;
    aline-height: 40px;
}
.sight06 {
    font-size: 36px;
    word-spacing: 37px;
    aline-height: 40px;
}
.sight07 {
    font-size: 34px;
    word-spacing: 39px;
    aline-height: 40px;
}
.sight08 {
    font-size: 26px;
    word-spacing: 36px;
    aline-height: 40px;
}
.sight09 {
    font-size: 16px;
    word-spacing: 47px;
    aline-height: 40px;
}
.sight10 {
    font-size: 14px;
    word-spacing: 40px;
}
.uline {
    color: #f00;
    background-color: #f00;
    width: 75%;
    aheight: 5px;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 3px #555;
}

.sight15 {
    font-size: 10px;
    word-spacing: 45px;
    line-height: 20px;
}
.sight20 {
    font-size: 8px;
    word-spacing: 47px;
    line-height: 20px;
}