.about
{
    font-family: Helvetica, Arial, sans-serif;

    width: 100%;
    min-width: 990px; /* min-width solved problem with picture overflow!! */
    max-width: 1920px;
    height: 248px;
    margin: 0 auto;

    color: #333;
    background: url(images/grey-back.png);
}
.about__content
{
    width: 990px;
    min-width: 990px;
    height: 252px;
    max-height: 252px;
    margin: 0 auto;
}
.about__content_text-header
{
    font-size: 15px;
    font-weight: 700;
    line-height: 42px;

    position: relative;
    top: 15px;

    text-align: left;
    text-transform: uppercase;
}
.about__content_text
{
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;

    position: relative;
    top: 12px;

    overflow: hidden;

    width: 569px;
    height: 180px;
    max-height: 180px;

    text-align: left;
}
