.action-field
{
    font-family: Helvetica, Arial, sans-serif;

    width: 100%;
    min-width: 990px; /* min-width solved problem with picture overflow!! */
    max-width: 1920px;
    height: 191px;
    margin: 0 auto;
    background-color: #f2f2f2;
}
.action-field__content
{
    position: relative;
    width: 990px;
    min-width: 990px;
    height: 191px;
    margin: 0 auto;

}
.action-field__content_button
{

    position: relative;
    width: 540px;
    height: 60px;
    top: 66px;
    background-color: #e74c3c;
}
.action-field__content_button:hover {
    color: #fff;
}
.action-field__content_button_text
{
    font-size: 25px;
    font-weight: 400;
    line-height: 42px;
 
    box-sizing: border-box;
    padding: 9px 0 0 30px;

    text-transform: uppercase;

    color: #fff;
}
.action-field__content_button_navigation
{
    font-size: 25px;

    position: absolute;
    bottom: 14px;
    left: 488px;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    text-align: center;
    color: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
    background-color: rgba(255, 254, 255, 0);
}
.action-field__content_button_navigation:hover
{
    cursor: pointer;
    color: #3498db;
    border-color: #3498db;
}


/* ______________ACTION FIELD QUERY_______________________ */

@media screen and (min-width: 800px) and (max-width: 1000px)
{

    body {
    
        width: auto;
        min-width: 800px;
        max-width: 1000px;
    }
    .action-field
    {
        width: 800px;
        min-width: 800px;
        max-width: 1000px;
        height: 191px;
    }
    .action-field__content
    {
        position: relative;

        width: 758px;
        min-width: 758px;
        height: 191px;
    }
    .action-field__content_button
{

    position: relative;
    width: 470px;
   
}
    .action-field__content_button_text{
        font-size: 20px; 
        font-weight: 400;
        line-height: 42px; 
        text-align: left;
        
}
 .action-field__content_button_navigation
{
    position: absolute;
    bottom: 14px;
    left: 405px;
    text-align: center;
}   
}
}

/* ______________MEDIA QUERY BANNER MOBILE________________________ */

@media only screen and (max-width: 800px) {
    .action-field
    {
        width: 320px;
        min-width: 320px;
        max-width: 800px;
        height: 241px;
    }
    .action-field__content
    {
        position: relative;

        width: 300px;
        min-width: 300px;
        height: 242px;
    }
    .action-field__content_button
{

    position: relative;
    width: 300px;
    height: 130px;
   
}


    .action-field__content_button_text{
      
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
        width: 250px;
        height: 48px;
        margin: 0 auto;
        
}
 .action-field__content_button_navigation
{
    position: absolute;
    top: 85px;
    left: 140px;
    text-align: center;
  
}   
}
