body
{
    margin: 0;
    padding: 0;
}
.header
{
    width: 100%;

    color: #fff;
}
body, .header
{
    font-family: Helvetica, Arial, sans-serif;
}
.header, .header__context
{
    box-sizing: border-box;
    height: 78px;

    background-color: #3498db;
}
.header__context
{
    width: 990px;
    max-width: 990px;
    margin: 0 auto;
}
.header__context > img, .header__context_text, .header__context_connect, .header__context_connect_text
{
    position: relative;

    display: inline-block;
}
.header__context > img
{
    margin: 11px 0 0 0;
}
.header__context_text
{
    font-size: 26px;

    bottom: 18px;
    left: 14px;

    text-transform: uppercase;
}
.header__context_connect
{
    line-height: 42px;

    bottom: 18px;
    left: 462px;

    text-align: center;
}
.header__context_connect_text
{
    font-size: 12px;

    bottom: 8px;
}
.header__context_connect-sprite
{
    display: inline-block;

    background-image: url(/markup/project/project2/images/spritesheet.png);
    background-repeat: no-repeat;
}

.sprite-facebook
{
    width: 23px;
    height: 23px;

    background-position: -5px -5px;
}

.sprite-google-plus
{
    width: 23px;
    height: 23px;

    background-position: -37px -5px;
}

.sprite-twitter
{
    width: 23px;
    height: 23px;

    background-position: -69px -5px;
}
