.testimonials
{
    font-family: Helvetica, Arial, sans-serif;

    width: 100%;
    min-width: 990px; /* min-width solved problem with picture overflow!! */
    max-width: 1920px;
    height: 260px;
    margin: 0 auto;

    background-color: #fff;
}
.testimonials__wrap
{
    position: relative;

    width: 990px;
    min-width: 990px;
    height: 260px;
    margin: 42px auto;
}
.testimonials__wrap__header
{
    font-size: 25px;
    font-weight: 400;

    width: 602px;
    height: 42px;

    text-transform: uppercase;

    color: #3498db;
}
.testimonials__wrap__content-block
{
    width: 723px;
    height: 175px;
    margin: 12px 0 0 0;
}
.testimonials__wrap__content-block_quotationmark-1
{
    font-size: 20px;
    font-weight: 700;

    width: 19px;
    height: 15px;
    margin-right: auto;

    color: #f2f2f2;
}
.testimonials__wrap__content-block_quotationmark-2
{
    font-size: 20px;
    font-weight: 700;

    width: 19px;
    margin-left: auto;

    color: #f2f2f2;
}
.testimonials__wrap__content-block_text
{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;

    width: 723px;
    max-height: 20px;
    margin: 21px auto;

    text-align: left;

    color: #333;
}
.testimonials__wrap__content-block_student-name
{
    font-size: 13px;
    font-weight: 700;

    float: right;
    clear: both;

    margin: 20px 0 17px 0;

    text-transform: uppercase;

    color: #333;
}
.testimonials__wrap__nav-buttons
{
    position: absolute;
    bottom: 225px;
    left: 900px;

    float: right;

    width: 100px;
    height: 40px;
}
.testimonials__wrap__nav-buttons_left, .testimonials__wrap__nav-buttons_right
{
    font-size: 20px;

    display: inline-block;

    box-sizing: border-box;
    width: 40px;
    height: 40px;
    padding-top: 7px;

    text-align: center;

    border: 1px solid #f2f2f2;
    border-radius: 50%;
}
.testimonials__wrap__nav-buttons_left
{
    background-color: #f2f2f2;
}
.testimonials__wrap__nav-buttons_right
{
    background-color: #fffeff;
}
.testimonials__wrap__nav-buttons_left:hover, .testimonials__wrap__nav-buttons_right:hover
{
    cursor: pointer;

    color: #fff;
    border-color: #fff;
    background-color: #3498db;
}
.testimonials__wrap__student-photo
{
    position: absolute;
    top: 87px;
    left: 725px;

    background: url(images/stud-photo.png) no-repeat;
}

/* ______________TESTIMONIALS QUERY_______________________ */

@media screen and (min-width: 800px) and (max-width: 1000px)
{

    body
    {
        width: auto;
        min-width: 800px;
        max-width: 1000px;
    }
    .testimonials
    {
        width: 800px;
        min-width: 800px;
        max-width: 1000px;
        height: 259px;
    }
    .testimonials__wrap
    {
        position: relative;

        width: 758px;
        min-width: 758px;
        height: 259px;
    }
    .testimonials__wrap__header
    {
        font-size: 20px;
        font-weight: 400;
        line-height: 42px;
    }
    .testimonials__wrap__content-block
    {
        width: 542px;
        height: 175px;
        margin: 12px 0 0 0;
    }
    .testimonials__wrap__content-block_text
    {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;

        width: 536px;
        height: 53px;

        text-align: left;
        word-break: break-all;
    }

    .testimonials__wrap__content-block_student-name
    {
        margin: 30px 0 17px 0;
    }

    .testimonials__wrap__nav-buttons
    {
        position: absolute;
        bottom: 225px;
        left: 900px;

        float: right;

        width: 100px;
        height: 40px;
    }
    .testimonials__wrap__student-photo
    {
        position: absolute;
        left: 538px;
    }
    .testimonials__wrap__nav-buttons
    {
        position: absolute;
        bottom: 225px;
        left: 680px;



        width: 90px;
        height: 40px;
    }
}

/* ______________MEDIA QUERY BANNER MOBILE________________________ */

@media only screen and (max-width: 800px) {

    .testimonials
    {
        width: 320px;
        min-width: 320px;
        max-width: 320px;
        height: 505px;
    }
    .testimonials__wrap
    {
        position: relative;

        width: 320px;
        min-width: 285px;
        height: 505px;
    }
    .testimonials__wrap__header
    {

        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        width: 245px;
        height: 46px;
        margin: 0 auto;

    }
    .testimonials__wrap__content-block
    {
        width: 280px;
        height: 255px;
        margin: 90px auto;
    }
    .testimonials__wrap__content-block_text
    {

        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        width: 257px;
        height: 113px;
        word-break: break-all;
    }

    .testimonials__wrap__content-block_student-name
    {
        margin: 100px 0 17px 0;
    }


    .testimonials__wrap__student-photo
    {
        position: absolute;
        left: 55px;
        top: 381px;
    }
    .testimonials__wrap__nav-buttons
    {
         position: absolute;

        left: 110px;
        top: 80px;
        width: 90px;
        height: 40px;
    }
}
